:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --light-soft-red: hsl(0, 78%, 66%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --light-grayish-red: hsl(0, 6%, 80%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
header {
  padding: 2rem;
}
header .logo {
  width: min(30vw, 150px);
}
.main-img {
  display: block;
  width: 100%;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  padding-top: 3rem;
  text-align: center;
}
.intro .title {
  font-size: clamp(36px, 3vw, 44px);
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--dark-grayish-red);
}
.title .highlighted {
  display: block;
  font-weight: 300;
  color: var(--desaturated-red);
}
.intro .text {
  width: min(80vw, 450px);
  padding: 2rem 0;
  font-size: clamp(14px, 1.4vw, 16px);
  font-weight: 400;
  color: var(--desaturated-red);
  line-height: 1.6;
}
.form-field {
  display: flex;
  justify-content: space-between;
  width: min(80vw, 450px);
  position: relative;
}
.form-input {
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
  border: 1px solid var(--light-grayish-red);
}
::placeholder {
  padding-left: .5rem;
  color: var(--light-grayish-red);
}
.btn-submit {
  position: absolute;
  right: 0;
  padding: .8rem 2.5rem;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%) );
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px 27px -5px var(--desaturated-red);
}
.icon-error {
  content: url(../styles/images/icon-error.svg);
  position: absolute;
  right: 7rem;
  top: .7rem;
  opacity: 0;
}
.error-message {
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: .8rem;
  color: var(--light-soft-red);
  text-align: left;
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    position: relative;
  }
  picture {
    position: absolute;
    top: -100px;
  }
  .main-section {
    transform: translateX(-170%);
  }
  .intro {
    align-items: start;
    text-align: left;
  }
  .btn-submit:hover {
    transform: scale(1.1);
    background-image: linear-gradient(130deg, hsl(0, 80%, 90%), hsl(0, 74%, 85%));
    cursor: pointer;
  }
}